@charset "utf-8";
/* CSS Document */
section.landing h3{
	font-family: 'Open Sans';
	text-align: left;
	color: #000;
}

section.landing h5{
	font-family: 'Open Sans';
	text-align: left;
	color: #000;
}