@charset "UTF-8";
/* CSS Document */

.canvas {
	align-content: center;
	margin-left: 20%;
	margin-top: 5%;
}

.divCanvas {
	
}

body {
	background-color: white;
}

.title {
	align-content: center;
	text-align: center;
	margin-top: 1%;
	font-family: 'Open Sans', sans-serif;
	color: red;


}